[Unit]
Description=paparazzi
After=network.target

[Service]
Restart=always
RestartSec=1
User=root
ExecStart=/usr/bin/env paparazzi

[Install]
WantedBy=multi-user.target
